* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
} 

body{
    background-color: #f8f8f8f8;
    width: 99.2vw;
    height: 100vh;
    overflow-x: hidden;
    overflow: auto;
}

.page {
    height: 100%;
    width: 100%;
}

.sidebar {
    z-index: 3;
    transition: all 0.5s;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0px;
    box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
    transform: translate3d(-101%,0,0);
}

.sidebar-top {
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    width: 100%;
    display: flex;
    padding: 0.85rem 1.1rem 0.35rem 1.64rem;
}

.sidebar-top-left {
    height: 57px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-top-left-img {
    height: 25px;
    display: flex;
    background: white;
    align-items: center;
}

.sidebar-top-right{
    margin-top: 6px;
}

.sidebar-down{
    height: 100%;
    background: white;
    overflow-y: auto;
    padding-bottom: 20px;
}
.sidebar-options{
    display: flex;
    margin: 0px 15px;
    justify-content: flex-start;
    background: white;
    align-items: center;
    color: #65677a;
    cursor: pointer;
    transition: all 0.4s;
    padding: 10px 15px;
    font-size: 15.4px;
    background: white;
    margin-left: 15px;
    font-weight: 400;
    letter-spacing: 0.14px;
}
.sidebar-subheading {
    font-weight: 500;
    margin-bottom: 11.2px;
    margin-left: 30.8px;
    font-size: 12.4px;
    margin-left: 7px;
    letter-spacing: 0.5px;
    background: white;
    color: #a6a4b0;
    margin-top: 32px;
    line-height: 18.9px;
}

.sidebar-sub-options{
    background: white;
    width: 100%;
    transition: all 0.5s;
}
.sidebar-down::-webkit-scrollbar {
    width: 0px;
    display: none;
}

.sidebar-options:hover {
    margin-left: 25px;
}
.side-dnone {
    display: none;
    cursor: pointer;
    margin-right: 13px;
}

.vuexy-name {
    background: white;
    margin-left: 12px;
    display: flex;
    align-items: center;
    color: #7167db;
    font-size: 1.22rem;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.down-top {
    width: 88%;
    height: 44px;
    margin: auto;
    margin-top: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background: #f2f2f3;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    flex-direction: column;
    color: darkgray;
}

.down-top-top-Dashboad {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #565360;
    margin-left: 9px;
    transition: 0.4s;
}

.down-top-top-Dashboad-name{
    margin-left: 13px;
    font-weight: 400;
    font-size: 15.4px;
}

.down-top-top-Dashboad:hover {
    margin-left: 25px;
}
.down-top-top {
    display: flex;
    align-items: center;
    position: relative;
    width: 96%;
}

.dashboard-number {
    height: 20px;
    width: 20px;
    background-color: rgba(255,159,67,.12);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff9f43!important;
    margin-left: 25px;
    font-size: 12px;
    font-weight: bolder;
    margin-right: 2px;
}

.side-breadth {
    width: 260px;
}

.bottom-middle {
    width: 100%;
    /* margin-top: 10px; */
    background: white;
    font-size: 0.8rem;
    font-weight: 600; 
}

.page-content-width {
    width: calc(100% - 260px);
    margin-left: 260px;
}

.block {
    margin: 12px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}